#dataTable_length{
    margin: 0.5rem !important;
}
#dataTable_filter{
    margin: 0.5rem !important;
}
#dataTable_info{
    padding: 1rem !important;
}
#dataTable_paginate{
    padding: 0.5rem !important;
}